.team_section {
  padding: 0;
  overflow: hidden;

  .title_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    @media (max-width: 600px) {
      margin-top: 4rem;
    }

    h3 {
      font-size: 0.7rem;
      text-align: center;
    }
  }

  .partners_title_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    h3 {
      font-size: 0.7rem;
      text-align: center;
    }
  }

  .team_grid_wrapper {
    display: flex;
    width: 100%;
    justify-content: center; /* Center the entire grid horizontally */
    align-items: center;
    overflow: hidden;

    .team_grid_container {
      width: 60%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 3rem;
      justify-content: center; /* Center the items horizontally */

      .team_member {
        width: calc(32% - 0.5rem); /* Adjusted width and gap */
        margin-bottom: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .member_img {
          border: 1px solid black;
          height: 8rem; /* Adjusted to min-height */
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensure the entire container is covered */
          }
        }

        .info_container {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          height: 4rem;

          .open_popup {
            bottom: 0.5rem;
            right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.1rem;
            background-color: black;
            color: white;
            border-radius: 50%;
            cursor: pointer;

            svg {
              width: 0.5rem;
            }
          }
          .member_info {
            width: 100%;
            text-align: center;
            margin-top: 0.5rem;

            h3 {
              font-size: 0.55rem;
              font-weight: 600;
              width: 100%; /* Take full width */
            }

            p {
              font-size: 0.45rem;
              font-weight: 300;
            }
          }
        }

        @media (max-width: 600px) {
          width: 100%; /* Full width for smaller screens */
        }
      }
    }
  }

  .fullscreen_popup {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    // display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    overflow-y: auto !important;

    .close_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;

      .close_popup {
        margin-right: 2rem;
        display: flex;
        background: none;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        color: black;
        cursor: pointer;

        svg {
          width: 1rem;
        }
      }
    }

    .popup_container {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 2rem;
      flex-direction: column;
      overflow-y: auto !important;

      .title_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
          color: black;
          font-weight: 600;
          font-size: 0.9rem;
        }
        p {
          color: black;
          font-weight: 300;
          font-size: 0.6rem;
          margin-top: -0.3rem;
        }
      }

      .content_container {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .image_container {
          width: calc(43% - 0.5rem); /* Adjusted width and gap */
          padding-top: 2rem;
          .member_img {
            border: 1px solid black;
            height: 15rem; /* Adjusted to min-height */
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover; /* Ensure the entire container is covered */
            }
          }
        }

        .text_container {
          width: calc(60% - 0.5rem); /* Adjusted width and gap */
          padding-top: 2rem;
          display: flex;
          flex-direction: column;
          padding-left: 2.5rem;

          .member_description {
            color: black;

            font-size: 0.5rem;
            padding-bottom: 5px;
          }

          .first_paragraph {
            font-weight: 600;
            font-size: 0.5rem;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
