.post {
  min-height: 100vh;
  padding: 10% 8.33%;
  min-height: 85svh;

  .topSection {
    display: flex;
    justify-content: space-between;

    .smallTitle {
      font-size: 0.5rem;

      .emailLink {
        color: #034694;
        text-decoration: underline;
      }
    }
  }

  .postContent {
    margin-top: 1rem;

    .postTitle {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .subTitle {
      font-size: 0.8rem;
      line-height: 1.1;
    }

    .postText {
      margin-top: 1rem;
      font-size: 0.5rem;
    }

    .textTitle {
      font-size: 0.6rem;
      font-weight: 800;
      text-decoration: underline;
      padding-top: 1rem;
    }

    .emailLink {
      color: #034694;
      text-decoration: underline;
    }
  }
}

.news_page {
  min-height: 100vh;
  padding: 10% 8.33%;
  min-height: 85svh;

  .news_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;

    h1 {
      height: max-content;
      width: 25%;
      flex-shrink: 0;
      font-size: 1.8em;
      font-weight: 600;
      line-height: 1;
    }

    .news_wrapper {
      width: 100%;
      margin-top: 1.5rem;

      .news_categories {
        display: flex;
        gap: 0.75rem;
        height: 1.9rem;
        align-items: flex-end;
        padding-bottom: 0.4rem;

        button {
          background: transparent;
          border: none;
          outline: none;
          font-size: 0.55rem;
          font-weight: 600;
          cursor: pointer;
          padding: 0;
          height: max-content;
          line-height: 1;
        }
      }

      .news_row {
        display: flex;
        border-top: 0.06rem solid currentcolor;
        padding: 1rem 0;
        transition: opacity 0.3s ease;
        flex-direction: row;
        gap: 1rem;

        .image_container {
          width: 50%;
          position: relative;
          flex-shrink: 0;
          transition: opacity 0.3s ease;

          @media (max-width: 768px) {
            width: 100%;
          }

          &:hover {
            opacity: 0.7;
          }

          img {
            height: 9rem;
            width: 100%;
            object-fit: cover;
          }
        }

        .info_container {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          display: flex;
          justify-content: center;
          transition: opacity 0.3s ease;

          @media (max-width: 768px) {
            width: 100%;
            gap: 0.5rem;
          }
          &:hover {
            opacity: 0.7;
          }

          h2 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.1;
            text-align: left;
            margin-top: 0; /* Reset margin */
          }

          p {
            font-size: 0.6rem;
            font-weight: 300;
            margin-bottom: 0; /* Reset margin */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* Limit to 3 lines */
            overflow: hidden;
          }

          .date_cat {
            width: 33%;
            display: block;
            font-size: 0.45rem;
            font-weight: 300;
            color: #484848;
            white-space: nowrap;
            text-transform: uppercase;

            @media (max-width: 768px) {
              .date_cat {
                font-size: 0.55rem;
              }
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
          border-bottom: 0.06rem solid currentcolor;
        }

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .news_page {
    padding: 4rem 5% 2rem;
    min-height: 70svh;

    .news_section {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 1.8rem;
        width: 100%;
        margin-bottom: 1rem;
      }

      .news_wrapper {
        width: 100%;

        .news_row {
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
}
